* {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: repeat-x;
    background-color: #dfe8ff;
}

.card {
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 1fr;
    grid-template-areas: "image" "text" "offering" "buttons";

    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 10px 20px #d4d1ff;
    max-width: 400px;
}

.card-image {
    grid-area: image;
    background: url('./images/illustration-hero.svg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    text-align: center;
    margin: 10px 30px 20px 30px;
}

.card-text h2 {
    font-size: 23px;
}

.card-text p {
    color: gray;
    font-size: 16px;
    word-spacing: 0.00em;
}

.card-offering {
    grid-area: offering;
    display: flex;
    align-items: center;
    margin: auto;
    padding-right: 15px;
    background-color: #f8f9fe;
    border-radius: 15px;
    line-height: 0.2rem;
    justify-content: space-between;
}

#icon-music {
    padding: 15px;
    width: 42px;
    height: 42px;
}

.card-offering a {
    padding-left:  5rem;
}

.card-buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin: auto;
}

#button-1 {
    background-color: #382ae1; /* Green */
    border: none;
    color: white;
    padding: 15px 65px;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px #d4d1ff;
    
}